In [1]:
import pandas as pd
# Creating a simple Series
data = [10 , 20 , 30 , 40]
series = pd . Series ( data )
print ( series )

0    10
1    20
2    30
3    40
dtype: int64

In [2]:
import pandas as pd
series = pd . Series ([10 , 20 , 30])
print ( series . index )

RangeIndex(start=0, stop=3, step=1)

In [6]:
series = pd.Series([10, 20, 30],index=['a', 'b', 'c'])
print(series)

a    10
b    20
c    30
dtype: int64

In [11]:
dates = pd . date_range ('2023 -01 -01 ', periods =3)
series = pd . Series ([10 , 20 , 30] , index = dates )
print(series)

2023-01-01    10
2023-01-02    20
2023-01-03    30
Freq: D, dtype: int64

In [13]:
# Access :
print ( series . index )
# Set or Reset Index
series . index = ['x', 'y', 'z'] # Series
# For DataFrame
df = pd . DataFrame ({ 'A': [1 , 2]} , index =[ 'row1 ', 'row2 '])
df . reset_index ( inplace = True )

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03'], dtype='datetime64[ns]', freq='D')

In [15]:
# With variable assignment
df1 = pd.DataFrame({
    'Bob': ['I liked it.', 'It was awful.'],
    'Sue': ['Pretty good.', 'Bland.']
})

df2 = pd.DataFrame({
    'Bob': ['I liked it.', 'It was awful.'],
    'Sue': ['Pretty good.', 'Bland.']
}, index=['Product A', 'Product B'])
print(df2)

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [17]:
# # Importing Data from file
# import pandas as pd
# # path to your dataset must be given to built in
# read_csv (" Your path ") function .
# dataset = pd . read_csv ("/ data / Week02 / bank .csv ")
# dataset . head ()
# dataset . tail ()
# dataset . info ()

In [18]:
# Importing Data to/from file
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}
df = pd.DataFrame(data)

print("Created DataFrame:")
print(df)
print()

# Writing DataFrame to CSV
df.to_csv('output.csv', index=False)
print("DataFrame has been written to 'output.csv'")

# Optional: Read it back to verify
print("\nReading back from 'output.csv':")
df_read = pd.read_csv('output.csv')
print(df_read)

Created DataFrame:
      Name           City
0    Alice       New York
1      Bob  San Francisco
2  Charlie    Los Angeles

DataFrame has been written to 'output.csv'

Reading back from 'output.csv':
      Name           City
0    Alice       New York
1      Bob  San Francisco
2  Charlie    Los Angeles

In [19]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}
df = pd.DataFrame(data)

# View the first two rows
print("First two rows:")
print(df.head(2))
print()

# View the last row
print("Last row:")
print(df.tail(1))
print()

# DataFrame information
print("DataFrame information:")
print(df.info())
print()

# Summary statistics
print("Summary statistics:")
print(df.describe())
print()

# Check dimensions of the DataFrame
print(f"The DataFrame has {df.shape[0]} rows and {df.shape[1]} columns.")

First two rows:
    Name  Age  Salary
0  Alice   25   50000
1    Bob   30   60000

Last row:
      Name  Age  Salary
2  Charlie   35   70000

DataFrame information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Salary  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes
None

Summary statistics:
        Age   Salary
count   3.0      3.0
mean   30.0  60000.0
std     5.0  10000.0
min    25.0  50000.0
25%    27.5  55000.0
50%    30.0  60000.0
75%    32.5  65000.0
max    35.0  70000.0

The DataFrame has 3 rows and 3 columns.

In [20]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}
df = pd.DataFrame(data)

# Access the 'Age' column
print("Age column:")
print(df['Age'])
print()

# Select rows by numerical index
print("First row (using iloc):")
print(df.iloc[0])
print()

# Select rows by condition
print("Rows where Age > 30:")
print(df.loc[df['Age'] > 30])

Age column:
0    25
1    30
2    35
Name: Age, dtype: int64

First row (using iloc):
Name      Alice
Age          25
Salary    50000
Name: 0, dtype: object

Rows where Age > 30:
      Name  Age  Salary
2  Charlie   35   70000

In [21]:
import pandas as pd

# Create DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
})

print("Original DataFrame:")
print(df)
print()

# Filter rows where Age > 28
filtered_rows = df[df['Age'] > 28]
print("Filtered rows where Age > 28:")
print(filtered_rows)
print()

# Select only 'Name' and 'Salary' columns
selected_columns = df[['Name', 'Salary']]
print("Selected columns (Name and Salary):")
print(selected_columns)

Original DataFrame:
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

Filtered rows where Age > 28:
      Name  Age  Salary
1      Bob   30   60000
2  Charlie   35   70000

Selected columns (Name and Salary):
      Name  Salary
0    Alice   50000
1      Bob   60000
2  Charlie   70000

In [26]:
import pandas as pd
from sklearn.datasets import load_iris
import numpy as np

# Load the Iris dataset
iris = load_iris()

# Create DataFrame
iris_df = pd.DataFrame(
    data=np.c_[iris['data'], iris['target']],
    columns=iris['feature_names'] + ['target']
)

# Introduce missing values randomly
np.random.seed(42)
mask = np.random.rand(*iris_df.shape) < 0.1  # 10% missing values
iris_df[mask] = np.nan

print("Original dataset with missing values:")
print(iris_df.head())
print("\nMissing values count:")
print(iris_df.isnull().sum())

# Filling missing values with forward fill (ffill), mean, median, and 0
iris_df_ffill = iris_df.ffill()
iris_df_mean = iris_df.fillna(iris_df.mean())
iris_df_median = iris_df.fillna(iris_df.median())
iris_df_zero = iris_df.fillna(0)

# Expand iris_df with filled columns
iris_df_expanded = pd.concat([
    iris_df,
    iris_df_ffill.add_suffix('_ffill'),
    iris_df_mean.add_suffix('_mean'),
    iris_df_median.add_suffix('_median'),
    iris_df_zero.add_suffix('_zero')
], axis=1)

# Display the head of the expanded DataFrame
print("\n" + "="*80)
print("Dataset after Filling Missing Values (expanded with all methods):")
print(iris_df_expanded.head())
print(f"\nShape of expanded DataFrame: {iris_df_expanded.shape}")
print(f"Number of columns: {iris_df_expanded.shape[1]}")

Original dataset with missing values:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               NaN                1.4               0.2
2                NaN               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0

Missing values count:
sepal length (cm)    15
sepal width (cm)     15
petal length (cm)    19
petal width (cm)     15
target               19
dtype: int64

================================================================================
Dataset after Filling Missing Values (expanded with all methods):
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               NaN                1.4               0.2
2                NaN               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target  sepal length (cm)_ffill  sepal width (cm)_ffill  \
0     0.0                      5.1                     3.5
1     0.0                      4.9                     3.5
2     0.0                      4.9                     3.2
3     0.0                      4.6                     3.1
4     0.0                      5.0                     3.6

   petal length (cm)_ffill  petal width (cm)_ffill  target_ffill  ...  \
0                      1.4                     0.2           0.0  ...
1                      1.4                     0.2           0.0  ...
2                      1.3                     0.2           0.0  ...
3                      1.5                     0.2           0.0  ...
4                      1.4                     0.2           0.0  ...

   sepal length (cm)_median  sepal width (cm)_median  \
0                       5.1                      3.5
1                       4.9                      3.0
2                       5.8                      3.2
3                       4.6                      3.1
4                       5.0                      3.6

   petal length (cm)_median  petal width (cm)_median  target_median  \
0                       1.4                      0.2            0.0
1                       1.4                      0.2            0.0
2                       1.3                      0.2            0.0
3                       1.5                      0.2            0.0
4                       1.4                      0.2            0.0

   sepal length (cm)_zero  sepal width (cm)_zero  petal length (cm)_zero  \
0                     5.1                    3.5                     1.4
1                     4.9                    0.0                     1.4
2                     0.0                    3.2                     1.3
3                     4.6                    3.1                     1.5
4                     5.0                    3.6                     1.4

   petal width (cm)_zero  target_zero
0                    0.2          0.0
1                    0.2          0.0
2                    0.2          0.0
3                    0.2          0.0
4                    0.2          0.0

[5 rows x 25 columns]

Shape of expanded DataFrame: (150, 25)
Number of columns: 25

In [27]:
import pandas as pd

# Example 1: Removing whitespace from string columns
df1 = pd.DataFrame({'Name': ['Alice ', 'Bob '], 'Age': [25, 30]})
print("Original DataFrame 1:")
print(df1)

# Remove whitespace from 'Name' column
df1['Name'] = df1['Name'].str.strip()
print("\nDataFrame 1 after stripping whitespace:")
print(df1)

print("\n" + "="*40 + "\n")

# Example 2: Converting data types
df2 = pd.DataFrame({'Age': ['25', '30', '35']})
print("Original DataFrame 2:")
print(df2)
print(f"Data type of 'Age' column: {df2['Age'].dtype}")

# Change 'Age' column data type to integer
df2['Age'] = df2['Age'].astype(int)
print("\nDataFrame 2 after converting to integer:")
print(df2)
print(f"Data type of 'Age' column: {df2['Age'].dtype}")

Original DataFrame 1:
     Name  Age
0  Alice    25
1    Bob    30

DataFrame 1 after stripping whitespace:
    Name  Age
0  Alice   25
1    Bob   30

========================================

Original DataFrame 2:
  Age
0  25
1  30
2  35
Data type of 'Age' column: object

DataFrame 2 after converting to integer:
   Age
0   25
1   30
2   35
Data type of 'Age' column: int64

In [28]:
import pandas as pd

# Example 1: Rename columns
print("EXAMPLE 1: Renaming Columns")
print("="*40)

df1 = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})
print("Original DataFrame:")
print(df1)

# Rename columns
df1 = df1.rename(columns={'Name': 'Full Name', 'Age': 'Years'})
print("\nDataFrame after renaming columns:")
print(df1)

print("\n" + "="*40 + "\n")

# Example 2: Remove duplicate rows
print("EXAMPLE 2: Removing Duplicates")
print("="*40)

df2 = pd.DataFrame({'Name': ['Alice', 'Bob', 'Alice'], 'Age': [25, 30, 25]})
print("Original DataFrame (with duplicates):")
print(df2)

# Remove duplicate rows
df2 = df2.drop_duplicates()
print("\nDataFrame after removing duplicates:")
print(df2)

EXAMPLE 1: Renaming Columns
========================================
Original DataFrame:
    Name  Age
0  Alice   25
1    Bob   30

DataFrame after renaming columns:
  Full Name  Years
0     Alice     25
1       Bob     30

========================================

EXAMPLE 2: Removing Duplicates
========================================
Original DataFrame (with duplicates):
    Name  Age
0  Alice   25
1    Bob   30
2  Alice   25

DataFrame after removing duplicates:
    Name  Age
0  Alice   25
1    Bob   30

In [29]:
import pandas as pd

# Sample DataFrame
data = {
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02'],
    'City': ['Kathmandu', 'Pokhara', 'Kathmandu', 'Pokhara'],
    'Temperature': [15, 18, 16, 19]
}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)
print()

# Pivot: Reshape data to show cities as columns
pivoted_df = df.pivot(index='Date', columns='City', values='Temperature')
print("Pivoted DataFrame (cities as columns):")
print(pivoted_df)

Original DataFrame:
         Date       City  Temperature
0  2024-01-01  Kathmandu           15
1  2024-01-01    Pokhara           18
2  2024-01-02  Kathmandu           16
3  2024-01-02    Pokhara           19

Pivoted DataFrame (cities as columns):
City        Kathmandu  Pokhara
Date
2024-01-01         15       18
2024-01-02         16       19

In [30]:
import pandas as pd

# Sample DataFrame
data = {
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02'],
    'City': ['Kathmandu', 'Pokhara', 'Kathmandu', 'Pokhara'],
    'Temperature': [15, 18, 16, 19]
}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)
print()

# Pivot: Reshape data to show cities as columns
pivoted_df = df.pivot(index='Date', columns='City', values='Temperature')
print("Pivoted DataFrame (cities as columns):")
print(pivoted_df)
print()

# Melt: Convert wide data back to long format
melted_df = pd.melt(
    pivoted_df.reset_index(),
    id_vars=['Date'],
    var_name='City',
    value_name='Temperature'
)
print("Melted DataFrame (back to long format):")
print(melted_df)

Original DataFrame:
         Date       City  Temperature
0  2024-01-01  Kathmandu           15
1  2024-01-01    Pokhara           18
2  2024-01-02  Kathmandu           16
3  2024-01-02    Pokhara           19

Pivoted DataFrame (cities as columns):
City        Kathmandu  Pokhara
Date
2024-01-01         15       18
2024-01-02         16       19

Melted DataFrame (back to long format):
         Date       City  Temperature
0  2024-01-01  Kathmandu           15
1  2024-01-02  Kathmandu           16
2  2024-01-01    Pokhara           18
3  2024-01-02    Pokhara           19

In [31]:
import pandas as pd
from sklearn.datasets import load_iris

# Load the Iris dataset
iris = load_iris()

# Create DataFrame
iris_df = pd.DataFrame(data=iris['data'], columns=iris['feature_names'])

# Min-Max Scaling using Pandas
iris_minmax_scaled = (iris_df - iris_df.min()) / (iris_df.max() - iris_df.min())

print("Original Iris DataFrame:")
print(iris_df.head())
print("\nMin-Max Scaled Iris DataFrame:")
print(iris_minmax_scaled.head())

Original Iris DataFrame:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

Min-Max Scaled Iris DataFrame:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.222222          0.625000           0.067797          0.041667
1           0.166667          0.416667           0.067797          0.041667
2           0.111111          0.500000           0.050847          0.041667
3           0.083333          0.458333           0.084746          0.041667
4           0.194444          0.666667           0.067797          0.041667

In [32]:
import pandas as pd

# Sample DataFrame with ordinal categories
df = pd.DataFrame({'Category': ['Low', 'Medium', 'High', 'Low', 'High']})

# Ordinal encoding using map
ordinal_mapping = {'Low': 1, 'Medium': 2, 'High': 3}
df['Category_Ordinal'] = df['Category'].map(ordinal_mapping)

print(df)

  Category  Category_Ordinal
0      Low                 1
1   Medium                 2
2     High                 3
3      Low                 1
4     High                 3

In [33]:
import pandas as pd

df_municipalities = pd.DataFrame({'Municipality': ['Kathmandu', 'Bhaktapur', 'Lalitpur', 'Madhyapur Thimi', 'Kirtipur']})

one_hot_encoding = pd.get_dummies(df_municipalities['Municipality'], prefix='Municipality')
df_encoded = pd.concat([df_municipalities, one_hot_encoding], axis=1)

print(df_encoded)

      Municipality  Municipality_Bhaktapur  Municipality_Kathmandu  \
0        Kathmandu                   False                    True
1        Bhaktapur                    True                   False
2         Lalitpur                   False                   False
3  Madhyapur Thimi                   False                   False
4         Kirtipur                   False                   False

   Municipality_Kirtipur  Municipality_Lalitpur  Municipality_Madhyapur Thimi
0                  False                  False                         False
1                  False                  False                         False
2                  False                   True                         False
3                  False                  False                          True
4                   True                  False                         False

In [34]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Row-wise concatenation
combined_rows = pd.concat([df1, df2], axis=0)
print("Row-wise concatenation:")
print(combined_rows)

# Column-wise concatenation
combined_cols = pd.concat([df1, df2], axis=1)
print("\nColumn-wise concatenation:")
print(combined_cols)

Row-wise concatenation:
   A  B
0  1  3
1  2  4
0  5  7
1  6  8

Column-wise concatenation:
   A  B  A  B
0  1  3  5  7
1  2  4  6  8

In [35]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Score': [85, 90, 88]})

# Inner join
inner_merged = pd.merge(df1, df2, on='ID', how='inner')
print("Inner Join:")
print(inner_merged)

# Left join
left_merged = pd.merge(df1, df2, on='ID', how='left')
print("\nLeft Join:")
print(left_merged)

# Outer join
outer_merged = pd.merge(df1, df2, on='ID', how='outer')
print("\nOuter Join:")
print(outer_merged)

Inner Join:
   ID     Name  Score
0   2      Bob     85
1   3  Charlie     90

Left Join:
   ID     Name  Score
0   1    Alice    NaN
1   2      Bob   85.0
2   3  Charlie   90.0

Outer Join:
   ID     Name  Score
0   1    Alice    NaN
1   2      Bob   85.0
2   3  Charlie   90.0
3   4      NaN   88.0